[submodule ".registry"]
	path = .registry
	url = https://github.com/analythium/analythium.r-universe.dev
	branch = HEAD
[submodule "deps"]
	path = deps
	url = https://github.com/analythium/deps
[submodule "rconfig"]
	path = rconfig
	url = https://github.com/analythium/rconfig
[submodule "tryr"]
	path = tryr
	url = https://github.com/analythium/tryr
